.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.project-box {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 410px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  background: #2a6481;
  background: conic-gradient(from 0deg, rgb(244, 207, 207), #f1ca9c);
  transition: background-color 0.3s ease;
  /* padding: 5px; */
  margin: 10px auto;
  cursor: pointer;
}

.project-box div {
  border-radius: 10px;
}

.project-box:hover {
  box-shadow: 0 0 1px #000000;
  border-bottom: 3px solid blue;
}

.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.project-image img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  /* border: 1px solid black; */
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  height: 30%;
  width: 90%;
  margin: 5px 5px 5px 5px;
}

.project-info span {
  margin: 0px;
  text-align: left;
  height: 35px;
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
}

.project-info p {
  /* max-width: 250px; */
  margin: 0px 2px;
  border-radius: 0;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
  text-align: justify;
  overflow: hidden;
  max-height: 140px;
}

.major-project-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.major-project-link i {
  margin: 2px 5px;
  padding: 2px;
  border-radius: 100%;
  color: black;
}

.major-project-link i:hover {
  box-shadow: 0 0 10px #ffffff;
}

.mini-project-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  background: #2a6481;
  background: conic-gradient(from 0deg, #f1ca9c, rgb(244, 207, 207));

  padding: 10px;
  margin: 10px 10px;
  border-radius: 10px;
  color: black;

  position: relative;
}

.mini-project-container:hover {
  /* box-shadow: 0 0 10px #df9114; */
  /* Glow effect */
  border-bottom: 3px solid blue;
}

.mini-project-container img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  border: 1px solid black;
}

.mini-project-container span {
  font-size: 1rem;
  /* height: 43px; */
  margin: 10px 0px;
  /* width: 200px; */
  text-align: left;
  font-weight: 700;
}

.mini-project-container p {
  font-size: 0.8rem;
  text-align: left;
  width: 250px;
  /* overflow: hidden; */
  /* height: 50px; */
  color: black;
  font-weight: 600;
}

.project-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: absolute;
  top: 150px;
  right: 0;
}

.project-link img {
  margin: 5px;
  height: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.project-link a {
}

.project-link i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #232323;
  color: #ffffff;
  cursor: pointer;
}

.project-link i:hover {
  box-shadow: 0 0 15px #000000;
}

.project-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
}

.project-slide {
  margin: 0 10px;
  padding: 0;
  transition: transform 0.5s ease;
}

.project-chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-chart-1 {
  width: 30%;
  height: 250px;
  margin: 10px;
}

.project-chart-2 {
  width: 60%;
  margin: 10px;
  height: 250px;
}

@media (max-width: 960px) {
  .project-box {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .project-box {
    width: 95%;
  }
  .project-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-chart-1 {
    width: 90%;
    margin: 10px;
  }

  .project-chart-2 {
    width: 90%;
    margin: 10px;
    height: 300px;
  }
}
