.project-detail-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  max-height: 400px;
}

.project-detail-image-box {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.project-detail-image-box img {
  height: 300px;
}

.project-detail-image-carousel {
  width: auto !important;
}

.project-detail-detail-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 55%;
  height: 432px;
  margin: 10px;
  padding: 10px;
}
