.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.project-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    background-color: aqua;
    transition: background-color 0.3s ease;
    padding: 10px;
    margin: 10px;
}

.project-box div {
    border-radius: 10px;
}

.project-box:hover {
    box-shadow: 0 0 10px #123428;
    /* Glow effect */
}

.project-image {
    background-color: blue;
    height: 100%;
    width: 35%;
}

.project-image img {
    height: 100%;
    width: 100%;
}

.project-info {
    background-color: violet;
    height: 100%;
    width: 60%;
    margin: 5px 10px;
}

.project-info>div {
    margin: 4px 10px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
}

.mini-project-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background-color: #232323;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    position: relative;
}

.mini-project-container:hover {
    box-shadow: 0 0 10px #123428;
    /* Glow effect */
}

.mini-project-container img {
    height: 140px;
    border-radius: 10px;
}

.mini-project-container span {
    font-size: 1.2rem;
    margin: 10px 0px;
}

.mini-project-container p {
    font-size: .8rem;
    text-align: left;
    width: 250px;
    overflow: hidden;
    height: 50px;
}

.project-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: absolute;
    top: 150px;
    right: 0;
}

.project-link img {
    margin: 5px;
    height: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}