* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

.App {
  background: #16161c;
  background: linear-gradient(from 180deg, #16161c, #505252);
}

.product-carousel {
  position: relative;
  overflow: hidden;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-container {
  padding: 0 0px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
