* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

body {
  background: #d8e5e9;
  background: linear-gradient(from 180deg, #97def3, #ffffff);
}

.App {
  background: #d8e5e9;
  background: linear-gradient(from 180deg, #cee7ee, #505252);
}

.product-carousel {
  position: relative;
  overflow: hidden;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-container {
  padding: 0 0px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.arrow-cont {
  display: none;
}

.heading-cont-key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 10px solid #b5dbe6;
}

.heading-div {
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
  color: black;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 20px;
  font-size: 3rem;
}

.heading-cont-div {
  width: 90%;
  overflow: hidden;
  margin: 10px auto;
  color: black;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 10px;
  padding: 20px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.contact-social,
.contact-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 768px) {
  .heading-cont-key {
    flex-direction: column;
  }
  .arrow-cont {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .caro-arrow {
    display: none;
  }
}
